<div class="card border-primary mt-3">
    <div class="card-header">
        Examenes de admisión
    </div>
    <div class="card-body text-primary">
        <h5> Listado disponible </h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-secondary" type="button">
                Crear un examen de admisión
            </button>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Examen de Admision</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of examenesAdmision">
                <tr>
                    <td>{{item.fechaExamen}}</td>
                    <td><button type="button" name="Editar" class="btn btn-success btn-sm">Editar</button></td>
                    <td><button type="button" name="Eliminar" class="btn btn-danger btn-sm">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <app-pagination *ngIf="pagination" [pagination] = "pagination" [urlEndPoint] = "urlEndPoint"></app-pagination>
    </div>
</div>