<div class="card bg-dark text-white mt-5">
    <div class="card-header"> 
        {{titulo}} 
    </div>
    <hr>
    <div class="card-body">
        <div class="form-group row">
            <label for="examen-admision" class="col-sm-2">Fecha del examen</label>
            <div class="col-sm-6">
                <div class="field col-12 md:col-4">
                    <label for="time">Fecha</label>
                    <p-calendar [(ngModel)]="examenAdmision.fechaExamen" dataType="string" [showTime]="true" [showSeconds]="false" inputId="time"></p-calendar>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary mt-5 mx-3" (click)="guardar()" *ngIf="!examenAdmision.examenId else elseBlock">Crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary mt-5 mx-3" role="button" (click)="actualizar()">Actualizar</button>
                </ng-template>
                <button class="btn btn-primary mt-5" [routerLink]="['/examenAdmision/']">Cancelar</button>
            </div>
        </div>
    </div>
</div>