<div class="container">
    <div class="row g-3 m-3">
        <div class="card mt-5 m-2" style="width: 18rem;" *ngFor="let item of data">
            <img src="{{item.sprites.front_default}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">Peso: {{item.weight}}</p>
              <a href="#" class="btn btn-primary">Experiencia: {{item.base_experience}}</a>
            </div>
          </div>
    </div>
</div>