<div class="card bg-dark text-white mt-5">
    <div class="card-header">Registro de usuario</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2 mt-3">Username</label>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="usuario.username" class="form-control mx-3 mt-3" name="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2 mt-3">NormalizedUsername</label>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="usuario.normalizedUsername" class="form-control mx-3 mt-3" name="normalizedUsername" placeholder="NormalizedUsername">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2 mt-3">Email</label>
                <div class="col-sm-6">
                    <input type="email" [(ngModel)]="usuario.email" class="form-control mx-3 mt-3" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2 mt-3">Password</label>
                <div class="col-sm-6">
                    <input type="password" [(ngModel)]="usuario.password" class="form-control mx-3 mt-3" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-6">
                    <button class="btn btn-primary mt-3" role="button" (click)="registrar()">Crear Usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>