<div class="card bg-dark text-white mt-5">
    <div class="card-header">
        Solicitud de expediente
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Nombres</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nombres" placeholder="Nombres">
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
                </div>
            </div>
        </form>
    </div>
</div>